@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import "options";
@import "mixins";
@import "hacks";


body {background-color: black;} 

h2 {color: orange;
    border: 5px, black;
    text-align: center;
    font-family: 'Carter One', cursive;
    font-size: 70px;}

.col-sm {background-color: orange;
padding: 15%;
margin-top: 15%;}


@import "effects/2d-transitions/buzz";
@if $includeClasses {
	.#{$nameSpace}-Quickly {
	    @include buzz();
	}
}

