@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import "options";
@import "mixins";
@import "hacks";


body {margin: 0;
      padding: 0;} 

.welcome{
    background-image: url('../imgs/ben-ostrower-7Tg4oySg9-I-unsplash.jpg');
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;}


.container{
    align-items: center;
    position: absolute;
    justify-content: center;
    bottom:25%;
    left:45%;}

h2 {
    margin: 0;
    padding:0;
    top:60%;
    width:100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Carter One', cursive;
    font-size: 5em;
    position: absolute; 
    transform: translateY(-50%);
    letter-spacing: 0.2em;}

h2 span{
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;}

    @keyframes animate{
        0%{
            opacity:0;
            transform: rotateY(90deg);
            filter: blur(10px);

        }
         100%{
            opacity:1;
             transform: rotateY(0deg);
             filter: blur(0);
        }
    }

video {
    object-fit: cover;}

h2 span:nth-child(1) {
animation-delay: 1s;}

h2 span:nth-child(2) {
animation-delay: 1.5s;}

h2 span:nth-child(3) {
animation-delay: 2s;}

h2 span:nth-child(4) {
animation-delay: 2.5s;}

h2 span:nth-child(5) {
animation-delay: 3s;}

h2 span:nth-child(6) {
animation-delay: 3.5s;}

h2 span:nth-child(7) {
animation-delay: 4s;}


.bg{ 
  background:  url(../imgs/agustin-diaz-7F65HDP0-E0-unsplash.jpg) repeat 0 0;
  width: 100%;
  margin: 0;
  height: 10vh;
  background-size: cover;
  background-position: 0 0;
  /*text-align: center;
  /*height: 300px;
  padding-top: 120px;
  box-sizing: border-box;*/
  -webkit-animation: slide 25s linear infinite;
}



@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -800px 0; }
}
/*
.bg{
position: relative;
background:  url(../imgs/agustin-diaz-7F65HDP0-E0-unsplash.jpg);
height: 10vh;
background-size: cover;
background-position: 0 0;
background-repeat: repeat-x;
animation: animate 15s linear infinite;
}

@keyframes animate{

    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 0;
    }
}
*/


.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: rgba(22, 21, 21, 0.541);
  overflow-x: hidden;
  padding: 8px 0;
  font-family: 'Carter One', cursive;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: rgba(255, 251, 21, 0.945);
}

.hvr-underline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: rgba(255, 251, 21, 0.945);
  height: 4px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:active:before {
  left: 0;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;}



.card-deck {
  width: 940px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  perspective: 1000px;}


.memory-cards {
  width: calc(25% - 10px);
  height: calc(33.333% - 20px);
  margin: 5px;
  position: relative;
  box-shadow: 5px 5px 5px rgba(75, 75, 75, 0.774);
   transform-style: preserve-3d;
   transition: transform .5s;}


.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 6px;
  position: absolute;
  border-radius: 2px;
  backface-visibility: hidden;}


.memory-cards:active {
  /*transform: scale(0.97);*/
  transition: transform .2s;}


.memory-cards.flip {
  transform: rotateY(180deg);}


.front-face {
    transform: rotateY(180deg);
}







